.header__logo {
    min-height: 52px;
    max-width: 176px;
}
.header__logo:hover{
    opacity: 0.8;
    transition: 1s;
}
@media screen and (max-width: 767px) {
    .header__logo {
        min-height: 42px;
        max-width: 142px;
    }
}