.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 24px;
    width: calc(100% - 96px);
}
@media screen and (max-width: 1023px) {
    .footer {
        margin: 0 24px 24px;
        width: calc(100% - 48px);
    }
}
@media screen and (max-width: 767px) {
    .footer {
        margin-right: 118px;
        margin-left: 16px;
        width: calc(100% - 48px);
        min-height: 310px;
        flex-direction: column;
    }
}